<h1><%= $game.attacker.name %> attacked <%= $game.defender.name %></h1>
<% $game.attack($game.defender) %>
<p><%= $game.defender.name %>: <%= $game.defender.hp %>HP</p>

<br>

<% $game.switch_attacker %>
<% $game.switch_defender %>
<a href="/play">Return to Play</a>